<div mat-dialog-content>
  <h1>Add tasting</h1>
  <form [formGroup]="createTasting" (submit)="createNewTasting()">
      <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput name="location" formControlName="location" type="text">
      </mat-form-field>
      <div formArrayName="beers">
          <div *ngFor="let beer of createTasting.get('beers')['controls'];let i=index" [formGroupName]="i">
              <mat-form-field> 
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" name="name" formControlName="name" required>           
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Alcohol(% vol)</mat-label> 
                  <input matInput placeholder="alcohol" name="alcohol"  formControlName="alcohol">            
              </mat-form-field>
              <button type="button" *ngIf="createTasting.get('beers')['controls'].length > 1" (click)="removeBeer(i)">
                  <mat-icon>delete forever</mat-icon>
              </button>
              <button type="button" (click)="addBeer()">
                <mat-icon>add box</mat-icon>
            </button>
          </div>
      </div>      
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click) = "createNewTasting()" >Create</button>
</div>