<div mat-dialog-content>
    <h1>Rate {{beer.name}}</h1>
    <form [formGroup]="createRating" (submit)="rateBeer()">
        <mat-form-field appearance="fill">
            <mat-label>Smell</mat-label>
            <input matInput name="smell" formControlName="smell" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput name="color" formControlName="color" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Branding</mat-label>
            <input matInput name="branding" formControlName="branding" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Taste</mat-label>
            <input matInput name="taste" formControlName="taste" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput name="description" placeholder=""></textarea>
          </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <div *ngIf="!submitted">
        <button mat-button (click)="rateBeer()">Rate</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
    <div *ngIf="submitted">
        <button mat-button mat-dialog-close>Done</button>
    </div>
    <span *ngIf="total!==undefined">Overal score of {{total}} % submitted.</span>
</div>