<div class="main">
    <h1>Raadsel:</h1>
    <p>Welk getal kan je zowel bij 5 optellen als vermenigvuldigen met 5, zodat beide bewerkingen dezelfde uitkomst hebben?</p>
    <mat-form-field appearance="fill">
        <mat-label>Answer</mat-label>
        <input matInput name="answer" [(ngModel)]="answer" (change)="submit()" type="number"/>
    </mat-form-field>
    <p *ngIf="correct === false">Fout! Zoek verder!</p>
    <p *ngIf="correct === true">Correct! Het gerstennat vind je hier terug:</p>
    <iframe *ngIf="correct === true"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.8531085620366!2d4.7220283154787!3d51.09271834875905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDA1JzMzLjgiTiA0wrA0MycyNy4yIkU!5e0!3m2!1snl!2sbe!4v1605955590266!5m2!1snl!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <p> Info voor het finale spel: Letter E=3"</p>
</div>