.mat-sort-header-container {
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
} 

.loading {
    margin-top: 10%;
    margin-left: 50%;
}

.filter-form-field {
    margin-right: 20px;
}

.mat-checkbox {
    margin-left: 5px;
    margin-right: 5px;
}
