<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="rank">#</th>
    <th mat-sort-header="name">Beer</th>
    <th mat-sort-header="alcohol">%Vol</th>
    <th mat-sort-header="smell">Smell</th>
    <th mat-sort-header="color">Color</th>
    <th mat-sort-header="branding">Looks</th>
    <th mat-sort-header="taste">Taste</th>
    <th mat-sort-header="total">Total (%)</th>
  </tr>

  <tr *ngFor="let beer of sortedData">
    <td>{{beer.rank}}</td>
    <td>{{beer.name}}</td>
    <td>{{beer.alcohol}}</td>
    <td>{{beer.smell | number:'1.0-1'}}</td>
    <td>{{beer.color | number:'1.0-1'}}</td>
    <td>{{beer.branding | number:'1.0-1'}}</td>
    <td>{{beer.taste | number:'1.0-1'}}</td>
    <td>{{beer.total | number:'1.0-1'}}</td>
  </tr>
</table>